<div style="border: 1px solid blue; display:grid; grid-template-rows: 70px calc(100% - 100px); row-gap: 10px; width: calc(100% - 25px); height: 100%; padding: 10px">  
  <div>
    <div style="padding-bottom: 10px;">
      <div>
        <b>Gamma</b>
      </div>
      <!--
      <div>
        ngAfterViewChecked <span style="color:red"><b>{{ counter }}</b></span> times
      </div>
      -->
      <div>
          <button (click)="onClick()">Button</button>
      </div>
      <div><button (click)="onDownCounter()">-</button>Counter: {{counter}}<button (click)="onUpCounter()">+</button></div>
      <div>ID: {{id}}</div>
    </div>
  </div>
  
  <div>
    <app-primary></app-primary>
  </div>
</div>