.card {
  display:grid;
  grid-template-rows: 50px calc(100% - 100px);
  padding: 30px;

  .main-component {
    padding-bottom: 30px;
  }

  .buttons {
    padding-top: 30px;

    span {
      padding: 10px;
    }
  }

  .child-components {
    padding-top: 20px;
  }
}
