<mat-card class="mat-elevation-z4 card">
  <div>
    <div class="main-component">
      <div>
        <b>Gamma</b> {{ renderView() }}
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="onClick()">Button</button>
      </div>
    </div>
  </div>
  <div >
    <div *ngIf="false" class="buttons">
      <span>
        <button mat-raised-button color="primary" (click)="onGenerateId()">Generate random One ID</button></span>
      <span>
        <button mat-raised-button color="primary" (click)="onChangeUser()">Change user first name</button></span>
      <span>
        <button mat-raised-button color="primary" (click)="onChangeObservable()">Change observable</button></span>      
    </div>
  
    <div class="child-components">
      <app-primary [id]="idPrimary" [user]="userOne" [observable]="observable$"></app-primary>
    </div>
  </div>
</mat-card>
