<div style="background-color: lightgrey; text-align: center;">
    <div style="display:grid; grid-template-rows: auto auto; border: 1px solid red; row-gap: 100px;">
      <b>App</b> {{ checkView() }}

      <button (click)="onClick()">Button</button>

      <div style="display: grid; grid-template-columns: auto auto auto; justify-self: center; column-gap: 100px;">
        <div style="border: 1px solid green">
          <app-parent-one></app-parent-one>
        </div>
        <div style="border: 1px solid green">
          <app-parent-two></app-parent-two>
        </div>
        <div style="border: 1px solid green">
          <app-parent-three></app-parent-three>
        </div>
      </div>

    </div>
</div>
<!--
<div style="border: 1px solid red">
  <div>
    <app-sample [id]="id" [user]="user" [department]="department"></app-sample>
  </div>

  <div>
    <button (click)="onClickId()">Change id</button>
    <button (click)="onClickName()">Change First Name</button>
    <button (click)="onClickDepartment()">Change Department</button>
  </div>
</div>

<div style="border: 1px solid blue">
  <div>
    <app-other [obj]="obj"></app-other>
  </div>
  <div>
    <button (click)="onClickObj()">Change obj</button>
  </div>
</div>

<div style="border: 1px solid yellow">
  <div>
    <app-third [value]="value"></app-third>
  </div>
  <div>
    <button (click)="onClickValue()">Change value</button>
  </div>
</div>

<div>
  <button (click)="onUpdate()">Update App</button>
</div>
-->

sa pun si observable cu | async sa arat ca tot intra de jdemii de ori fara onPush