<div style="width: 100%; height: 100%; background-color: lightgrey;">
  <div style="display: grid; grid-template-rows: auto auto auto; row-gap: 100px;">
    <div style="border: 1px solid red; width: 100px; height: 100px; justify-self: center;">
      App
    </div>
    <div style="display: grid; grid-template-columns: auto auto auto; justify-self: center; column-gap: 100px;">
      <div style="border: 1px solid green; width: 100px; height: 100px">
        Parent One
      </div>
      <div style="border: 1px solid green; width: 100px; height: 100px">
        Parent Two
      </div>
      <div style="border: 1px solid green; width: 100px; height: 100px">
        Parent Three
      </div>
    </div>
    <div style="display: grid; grid-template-columns: auto auto auto auto auto; justify-self: center; column-gap: 100px;">
      <div style="border: 1px solid blue; width: 100px; height: 100px"></div>
      <div style="border: 1px solid blue; width: 100px; height: 100px"></div>
      <div style="border: 1px solid rgb(255, 0, 149); width: 100px; height: 100px"></div>
      <div style="border: 1px solid rgb(251, 255, 0); width: 100px; height: 100px"></div>
      <div style="border: 1px solid rgb(251, 255, 0); width: 100px; height: 100px"></div>
    </div>
  </div>
</div>
<!--
<div style="border: 1px solid red">
  <div>
    <app-sample [id]="id" [user]="user" [department]="department"></app-sample>
  </div>

  <div>
    <button (click)="onClickId()">Change id</button>
    <button (click)="onClickName()">Change First Name</button>
    <button (click)="onClickDepartment()">Change Department</button>
  </div>
</div>

<div style="border: 1px solid blue">
  <div>
    <app-other [obj]="obj"></app-other>
  </div>
  <div>
    <button (click)="onClickObj()">Change obj</button>
  </div>
</div>

<div style="border: 1px solid yellow">
  <div>
    <app-third [value]="value"></app-third>
  </div>
  <div>
    <button (click)="onClickValue()">Change value</button>
  </div>
</div>

<div>
  <button (click)="onUpdate()">Update App</button>
</div>
-->