<button mat-raised-button color="primary" (click)="detectChanges()">Detect Changes</button>
<mat-card class="mat-elevation-z4" style="padding:30px; margin-top: 30px">
  <div style="padding-bottom: 30px;">
    <div>
      <b>App</b> {{ renderView() }}
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onClick()">Button</button>
    </div>
  </div>
 
  <!--
  <app-one [id]="idOne" [user]="userOne" [observable]="observable$"></app-one>
  -->

  <div style="display: grid; grid-template-columns: auto auto auto; justify-self: center; column-gap: 30px;">        
    <div>
      <app-one></app-one>
    </div>    
    <div>      
      <app-two></app-two>
    </div>
    <div>
      <app-three></app-three>
    </div>
  </div>
</mat-card>