<div style="border:1px solid green; display:grid; grid-template-rows: 100px 20px calc(100% - 160px); row-gap: 10px;height: calc(100% - 20px); padding: 10px">
  <div style="padding-bottom: 10px;">
    <div>
      <b>Two</b> {{ renderView() }}
    </div>
    <div>
      <button (click)="onClick()">Button</button>
    </div>
  </div>
  <div style="display: grid; grid-template-columns: auto; column-gap: 10px;">
    <app-gamma [id]="idGamma" [user]="userGamma"></app-gamma>
  </div>

</div>


<!--
{{getObj() | json}}
-->