<mat-card class="mat-elevation-z4">
  <div>
    <div>
      <b>Primary</b> {{ renderView() }}
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onClick()">Button</button>
    </div>

    <ng-container *ngIf="false">
      <div class="buttons">
        <span>
          <button mat-raised-button color="primary" (click)="detectChanges()">detectChanges</button>
        </span>
        <span>
          <button mat-raised-button color="primary" (click)="markForCheck()">markForCheck</button></span>
        <span>
          <button mat-raised-button color="primary" (click)="checkNoChanges()">checkNoChanges</button>
        </span>
        <span>
          <button mat-raised-button color="primary" (click)="detach()">detach</button>
        </span>
        <span>
          <button mat-raised-button color="primary" (click)="reattach()">reattach</button>
        </span>                                
      </div>
      
      <div><b>ID:</b> {{id}}</div>
      <div><b>USER:</b> {{user | json}}</div>

      <div><b>OBSERVABLE:</b> {{ observable | async | json }}</div>
      ( AsyncPipe has markForCheck built-in )
    </ng-container>
  </div>
</mat-card>