
<div style="border:1px solid green; display:grid; grid-template-rows: 130px 20px calc(100% - 190px); row-gap: 10px;height: calc(100% - 21px); padding: 10px">

<!--
<div style="border:1px solid green; display:grid; grid-template-rows: 40px calc(100% - 70px); row-gap: 10px;height: calc(100% - 21px); padding: 10px">
-->  
  <div style="padding-bottom: 10px;">
    <div>
      <b>One</b> {{ renderView() }}
    </div>
    <div>
      <button (click)="onClick()">Button</button>
    </div>

    <ng-container *ngIf="true">
      <div>
        <button (click)="detectChanges()">detectChanges</button>
        <button (click)="markForCheck()">markForCheck</button>
        <button (click)="checkNoChanges()">checkNoChanges</button>
        <button (click)="detach()">detach</button>
        <button (click)="reattach()">reattach</button>
      </div>
      <div>ID: {{id}}</div>
      <div>USER: {{user | json}}</div>

      <div>OBSERVABLE {{ observable | async | json }}</div>
      ( AsyncPipe has markForCheck built-in )
    </ng-container>

  </div>

  <div style="display: grid; grid-template-columns: auto auto; column-gap: 10px;">
    <app-alpha [id]="idAlpha"></app-alpha>
    
    <app-beta [id]="idBeta"></app-beta>
  </div>
</div>